pkgbase = s6-user
	pkgdesc = Per-user s6-frontend repository and service-store policy wrapper
	pkgver = 0.1.0
	pkgrel = 2
	url = https://github.com/username13121/s6-user.git
	arch = any
	license = 0BSD
	depends = s6
	depends = s6-rc
	depends = s6-frontend
	source = s6-user
	source = LICENSE
	sha256sums = 87d8fec9194acb455f534ef28182d391d36468408a2471f297bde75fb58e1011
	sha256sums = e43689ed5dbd460be77c4f8ecc14a1285671194f11f711520a7be8d8d6d847f7

pkgname = s6-user
